@using WebBanBanh.Models;

@{
    Layout = null;
    var khachhang1 = (List<KHACHHANG>)ViewBag.KhachHang;
    var chitietDDH = (List<CHITIETDONDATHANG>)ViewBag.CTDDH;
    var sanpham = (List<SANPHAM>)ViewBag.SANPHAM;
    
}


<!DOCTYPE html>
<html lang="en">
<head>
    <title>Matrix Admin</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/">
    <script src="~/sourceAdmin/bootrrap/bootstrap.min.css"></script>
    <link rel="stylesheet" href="~/sourceAdmin/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/sourceAdmin/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="~/sourceAdmin/css/colorpicker.css" />
    <link rel="stylesheet" href="~/sourceAdmin/css/datepicker.css" />
    <link rel="stylesheet" href="~/sourceAdmin/css/uniform.css" />
    <link rel="stylesheet" href="~/sourceAdmin/css/select2.css" />
    <link rel="stylesheet" href="~/sourceAdmin/css/matrix-style.css" />
    <link rel="stylesheet" href="~/sourceAdmin/css/matrix-media.css" />
    <link rel="stylesheet" href="~/sourceAdmin/css/bootstrap-wysihtml5.css" />
    <link href="~/sourceAdmin/font-awesome/css/font-awesome.css" rel="stylesheet" />


    <link href="~/sourceAdmin/css/fontgg.css" rel="stylesheet" />

</head>
<body>


    <!--Header-part-->
    <div id="header">
        <h1><a href="dashboard.html">Matrix Admin</a></h1>
    </div>
    <!--close-Header-part-->
    <!--top-Header-menu-->
    <div id="user-nav" class="navbar navbar-inverse">
        <ul class="nav">
            <li class="dropdown" id="profile-messages">
                <a title="" href="#" data-toggle="dropdown" data-target="#profile-messages" class="dropdown-toggle"><i class="icon icon-user"></i>  <span class="text">Welcome User</span><b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="Admin/IndexProfile"><i class="icon-user"></i> My Profile</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="Admin/postLogDangNhap"><i class="icon-key"></i> Log Out</a></li>
                </ul>

            </li>
            <li><a href="Admin/postLogDangNhap"><i class="icon-key"></i> Log Out</a></li>
        </ul>
    </div>
    <!--close-top-Header-menu-->
    <!--sidebar-menu-->
    <div id="sidebar">
        <a href="#" class="visible-phone"><i class="icon icon-home"></i> Dashboard</a>
        <ul>
            <li class="active"><a href="Admin/Index"><i class="icon icon-home"></i> <span>Dashboard</span></a> </li>
            <li> <a href="Admin/IndexChart"><i class="icon icon-signal"></i> <span>Charts &amp; graphs</span></a> </li>
            <li class=" submenu">
                <a href="#"><i class="icon icon-th"></i> <span>Tables</span></a>
                <ul>
                    <li><a href="Product/Index">Product Table</a></li>
                    <li><a href="KhachHang/Index">User Customer Table</a></li>
                    <li><a href="DonDatHang/Index">Order  Table</a></li>
                </ul>
            </li>
            <li class="submenu">
                <a href="#"><i class="icon icon-fullscreen"></i>FORM</a>
                <ul>
                    <li><a href="EditAbout/Index">EDIT FORM ABOUT</a></li>
                </ul>
            </li>
            <li class="submenu">
                <a href="admin/home/dashboard"><i class="icon icon-th-list"></i></a>
                <ul>
                    <li><a href="admin/home/dashboard"></a></li>
                </ul>
            </li>
            <li><a href="admin/home/dashboard"><i class="icon icon-tint"></i></a></li>
            <li><a href="admin/home/dashboard"><i class="icon icon-pencil"></i> <span></span></a></li>
            <li class="submenu">
                <a href="admin/home/dashboard"><i class="icon icon-file"></i> </a>
                <ul>
                    <li><a href="admin/home/dashboard"></a></li>
                    <li><a href="admin/home/dashboard"></a></li>
                    <li><a href="admin/home/dashboard"></a></li>
                    <li><a href="admin/home/dashboard"></a></li>
                    <li><a href="admin/home/dashboard"></a></li>
                </ul>
            </li>
            <li class="submenu">
                <a href="admin/home/dashboard"><i class="icon icon-info-sign"></i> </a>
                <ul>
                    <li><a href="admin/home/dashboard">Error 403</a></li>
                    <li><a href="admin/home/dashboard">Error 404</a></li>
                    <li><a href="admin/home/dashboard">Error 405</a></li>
                    <li><a href="admin/home/dashboard">Error 500</a></li>
                </ul>
            </li>
            <li class="content">
                <span>Monthly Bandwidth Transfer</span>
                <div class="progress progress-mini progress-danger active progress-striped">
                    <div style="width: 77%;" class="bar"></div>
                </div>
                <span class="percent">77%</span>
                <div class="stat">21419.94 / 14000 MB</div>
            </li>
            <li class="content">
                <span>Disk Space Usage</span>
                <div class="progress progress-mini active progress-striped">
                    <div style="width: 87%;" class="bar"></div>
                </div>
                <span class="percent">87%</span>
                <div class="stat">604.44 / 4000 MB</div>
            </li>
        </ul>
    </div>
    <!--sidebar-menu-->
    <!--main-container-part-->
    <div id="content">
        <div id="content-header">
            <div id="breadcrumb"> <a href="Admin/Index" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a> <a href="Admin/Index">Tables</a><a href="DonDatHang/Index" class="current">Đơn Đặt Hàng Table</a> </div>
            <h1>Table Orther</h1>
        </div>
        <div class="container-fluid">
            <hr>
            <div class="row-fluid">
                <div class="span12">
                    <div class="widget-box">
                        <div class="widget-title">
                            <span class="icon"> <i class="icon-align-justify"></i> </span>
                            <h5>ADD ORTHER PRODUCT</h5>
                        </div>
                        <div class="widget-content nopadding">
                            @using (Html.BeginForm("CreateDonDatHang", "DonDatHang"))
                            {
                                <div class="control-group">
                                    <label class="control-label">Ngày Đặt  :</label>
                                    <div class="controls">
                                        <input type="text" style="border-radius: 1px" name="NGAYDAT" data-date="01/11/2019" data-date-format="dd/mm/yyyy" value="01/02/2019" class="datepicker span11">
                                    </div>
                                </div>
                                <div class="control-group" style="margin-top:40px;">
                                    <label class="control-label">Tình Trạng Giao Hàng :</label>
                                    <div class="controls">
                                        <select style="width: 200px;z-index:1000" id="selectGH" onchange="validateSelectBoxGH1(this)">

                                            <option value="yes">Đã Giao Hàng</option>
                                            <option value="no" selected>Chưa Giao Hàng </option>

                                        </select>
                                        <input type="text" style="border-radius: 1px" id="idgh" class="span11" name="TINHTRANGGIAOHANG" readonly placeholder="" />
                                    </div>
                                </div>
                                <div class="control-group" style="margin-top:40px;">
                                    <label class="control-label">Ngày Giao :</label>
                                    <div class="controls">
                                        <input type="text" style="border-radius: 1px" name="NGAYGIAO" data-date="01/11/2019" data-date-format="dd/mm/yyyy" value="01/02/2019" class="datepicker span11">


                                    </div>
                                </div>
                                <div class="control-group" style="margin-top:40px;">
                                    <label class="control-label">Đã Thanh Toán :</label>
                                    <div class="controls">
                                        <select style="width: 200px;z-index:1000" id="selectTT" onchange="validateSelectBoxTT1(this)">

                                            <option value="yes">Đã Thanh Toán</option>
                                            <option value="no" selected>Chưa Thanh Toán </option>

                                        </select>
                                        <input type="text" style="border-radius: 1px" id="idtt" class="span11" name="DATHANHTOAN" placeholder="" />
                                    </div>
                                </div>
                                <div class="control-group" style="margin-top:40px;">
                                    <label class="control-label">Mã Khách Hàng :</label>
                                    <div class="controls">
                                        <select style="width: 200px;z-index:1000" id="selectKH" onchange="validateSelectBoxKH1(this)">
                                            @foreach (var itemkh in khachhang1)
                                            {
                                                <option value="@itemkh.MAKH">@itemkh.HOTEN</option>
                                            }
                                        </select>
                                        <input type="text" style="border-radius: 1px" class=" input-big span11" name="MAKH" value="" id="idkh" readonly />

                                    </div>
                                </div>

                                <div class="control-group" style="margin-top:40px;">
                                    <label class="control-label">Ưu Đãi :</label>
                                    <div class="controls">
                                        <input type="text" style="border-radius: 1px" class="span11" name="UUDAI" placeholder="" />
                                    </div>
                                </div>
                                <div class="form-actions" style="margin-top:40px;">
                                    <button type="submit" class="btn btn-success">Save</button>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="widget-box">
                        <div class="widget-title">
                            <span class="icon"><i class="icon-th"></i></span>
                            <h5>Data table</h5>
                        </div>

                        <div class="widget-content nopadding">
                            <table class="table table-bordered data-table">
                                <thead>
                                    <tr>
                                        <th>Mã Hóa Đơn</th>
                                        <th>Ngày Đặt</th>
                                        <th>Tình Trạng Giao Hàng</th>
                                        <th>Ngày Giao</th>
                                        <th>Đã Thanh Toán</th>
                                        <th>Mã Khách Hàng</th>
                                        <th>Ưu Đãi</th>
                                        <th>EDIT</th>
                                        <th>DELETE</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var ddh in Model)
                                    {
                                        <tr class="gradeA">
                                            <td>@ddh.MADDH</td>
                                            <td>@ddh.NGAYDAT</td>
                                            <td>@ddh.TINHTRANGGIAOHANG</td>
                                            <td>@ddh.NGAYGIAO</td>
                                            <td>@ddh.DATHANHTOAN</td>
                                            <td>@ddh.MAKH</td>
                                            <td>@ddh.UUDAI</td>
                                            <td>
                                                <a href="#">
                                                    @using (Html.BeginForm())
                                                    {@Html.ActionLink("EDIT ", "IndexDetailDDH", new { id = @ddh.MADDH })
                                                }
                                                </a>
                                            </td>
                                            <td class="center">
                                                <a href="#">
                                                    @using (Html.BeginForm())
                                                    {@Html.ActionLink("Delete ", "DeleteDonDatHang", new { id = @ddh.MADDH })
                                                }
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="widget-box">
                        <div class="widget-title">
                            <span class="icon"> <i class="icon-align-justify"></i> </span>
                            <h5>ADD DETAIL ORTHER PRODUCT</h5>
                        </div>
                        <div class="widget-content nopadding">
                            @using (Html.BeginForm("CreateChiTietDonDatHang", "DonDatHang"))
                            {
                                <div class="control-group">
                                    <label class="control-label">Mã  Đơn Đặt Hàng  :</label>
                                    <div class="controls">

                                        <select style="width: 200px;z-index:1000" id="selectMaDDH" onchange="validateSelectBoxMADDH1(this)">
                                            @foreach (var itemmd in Model)
                                            {
                                                <option value="@itemmd.MADDH">@itemmd.MADDH</option>
                                            }
                                        </select>
                                        <input type="text" style="border-radius: 1px" class=" input-big span11" name="MADDH" value="" id="idmaddh" readonly />
                                    </div>
                                </div>
                                <div class="control-group" style="margin-top:40px;">
                                    <label class="control-label"> </label>
                                    <div class="controls">
                                        <select style="width: 200px;z-index:1000" id="selectMaSP" onchange="validateSelectBoxMASP(this)">
                                            @foreach (var itemsp in sanpham)
                                            {
                                                <option value="@itemsp.MASP">@itemsp.TENSP</option>
                                            }
                                        </select>
                                        <label class="control-label">Tên Sản Phẩm :</label>
                                        <input type="text" style="border-radius: 1px" class=" input-big span11" name="TENSP" value="" id="idtensp" readonly />
                                        <label class="control-label">Mã Sản Phẩm :</label>
                                        <input type="text" style="border-radius: 1px" class=" input-big span11" name="MASP" value="" id="idmasp" readonly />
                                    </div>
                                </div>
                                <div class="control-group" style="margin-top:40px;">
                                    <label class="control-label">Số Lượng :</label>
                                    <div class="controls">
                                        <input type="number" style="border-radius: 1px" class=" input-big span11" id="maxsoluong" name="SOLUONG" value="" />
                                    </div>
                                </div>
                                <div class="control-group" style="margin-top:40px;">
                                    <label class="control-label">Đơn Giá :</label>
                                    <div class="controls">
                                        <input type="number" style="border-radius: 1px" class=" input-big span11" id="donhang" name="DONGIA" value="" />
                                    </div>
                                </div>

                                <div class="form-actions" style="margin-top:40px;">
                                    <button type="submit" class="btn btn-success">Save</button>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="widget-box">
                        <div class="widget-title">
                            <span class="icon"><i class="icon-th"></i></span>
                            <h5>Data table</h5>
                        </div>
                        <div class="widget-content nopadding">
                            <table class="table table-bordered data-table">
                                <thead>
                                    <tr>
                                        <th>Mã Chi Tiết Hóa Đơn</th>
                                        <th>Mã Đơn Đặt Hàng</th>
                                        <th>Mã Sản Phẩm</th>
                                        <th>Tên Sản Phẩm</th>
                                        <th>Số Lượng</th>
                                        <th>Đơn Giá</th>
                                        <th>EDIT</th>
                                        <th>DELETE</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var ctddh in chitietDDH)
                                    {
                                        <tr class="gradeA">
                                            <td>@ctddh.MACHITIETDDH</td>
                                            <td>@ctddh.MADDH</td>
                                            <td>@ctddh.MASP</td>
                                            <td>@ctddh.TENSP</td>
                                            <td>@ctddh.SOLUONG</td>
                                            <td>@ctddh.DONGIA</td>
                                            <td>
                                                <a href="#">
                                                    @using (Html.BeginForm())
                                                    {@Html.ActionLink("EDIT ", "IndexDetailDDH", new { id = ctddh.MACHITIETDDH })
                                                }
                                                </a>
                                            </td>
                                            <td class="center">
                                                <a href="#">
                                                    @using (Html.BeginForm())
                                                    {@Html.ActionLink("Delete ", "DeleteDonDatHang", new { id = ctddh.MACHITIETDDH })
                                                }
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="widget-box">
                        <div class="widget-title">
                            <span class="icon"><i class="icon-th"></i></span>
                            <h5>Data table</h5>
                        </div>
                        <div class="widget-content nopadding">
                            <div style="overflow-x:scroll">
                                <table class="table table-bordered data-table" data-toggle="modal" data-target="#scrollPRODHIDE" id="tablePRODUCTshow">
                                    <thead>
                                        <tr>
                                            <th>Mã SP</th>
                                            <th>Tên SP</th>
                                            <th>Đơn Giá</th>
                                            <th>Ngày Cập Nhật</th>
                                            <th>Số Lượng Tồn</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var itemSP11 in sanpham)
                                        {
                                            <tr class="gradeA">
                                                <td>@itemSP11.MASP</td>
                                                <td style="width:50px;">@itemSP11.TENSP</td>
                                                <td>@itemSP11.DONGIA</td>
                                                <td>@itemSP11.NGAYCAPNHAT</td>
                                                <td style="width:100px;">@itemSP11.SOLUONGTON</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Footer-part-->
    <div class="row-fluid">
        <div id="footer" class="span12"> 2013 &copy; Matrix Admin. Brought to you by <a href="http://themedesigner.in">Themedesigner.in</a> </div>
    </div>
    <!--end-Footer-part-->
    <!--end-Footer-part-->
    <script src="~/sourceAdmin/js/jquery.min.js"></script>
    <script src="~/sourceAdmin/js/jquery.ui.custom.js"></script>
    <script src="~/sourceAdmin/js/bootstrap.min.js"></script>
    <script src="~/sourceAdmin/js/bootstrap-colorpicker.js"></script>
    <script src="~/sourceAdmin/js/bootstrap-datepicker.js"></script>
    <script src="~/sourceAdmin/js/jquery.toggle.buttons.js"></script>
    <script src="~/sourceAdmin/js/masked.js"></script>
    <script src="~/sourceAdmin/js/jquery.uniform.js"></script>
    <script src="~/sourceAdmin/js/select2.min.js"></script>
    <script src="~/sourceAdmin/js/matrix.js"></script>
    <script src="~/sourceAdmin/js/matrix.form_common.js"></script>
    <script src="~/sourceAdmin/js/wysihtml5-0.3.0.js"></script>
    <script src="~/sourceAdmin/js/jquery.peity.min.js"></script>
    <script src="~/sourceAdmin/js/bootstrap-wysihtml5.js"></script>
    <script>
        $('.textarea_editor').wysihtml5();
    </script>

    <script>

        var idKH = document.getElementById("selectKH");
        var strKH = idKH.options[0].value;
        document.getElementById('idkh').value = strKH;
        function validateSelectBoxKH1(obj) {
            // Lấy danh sách các options
            var options3 = obj.children;

            // Biến lưu trữ các chuyên mục đa chọn
            var html3 = '';

            // lặp qua từng option và kiểm tra thuộc tính selected
            for (var i = 0; i < options3.length; i++) {
                if (options3[i].selected) {
                    html3 += options3[i].value;
                }
            }

            // Gán kết quả vào div#result
            document.getElementById('idkh').value = html3;
        }
    </script>
    <script>
        var idKH = document.getElementById("selectTT");
        var strKH = idKH.options[1].value;
        document.getElementById('idtt').value = strKH;
        function validateSelectBoxTT1(obj) {
            // Lấy danh sách các options
            var options3 = obj.children;

            // Biến lưu trữ các chuyên mục đa chọn
            var html3 = '';

            // lặp qua từng option và kiểm tra thuộc tính selected
            for (var i = 0; i < options3.length; i++) {
                if (options3[i].selected) {
                    html3 += options3[i].value;
                }
            }

            // Gán kết quả vào div#result
            document.getElementById('idtt').value = html3;
        }
    </script>
    <script>
        var idGH = document.getElementById("selectGH");
        var strGH = idKH.options[1].value;
        document.getElementById('idgh').value = strGH;
        function validateSelectBoxGH1(obj) {
            // Lấy danh sách các options
            var options3 = obj.children;

            // Biến lưu trữ các chuyên mục đa chọn
            var html3 = '';

            // lặp qua từng option và kiểm tra thuộc tính selected
            for (var i = 0; i < options3.length; i++) {
                if (options3[i].selected) {
                    html3 += options3[i].value;
                }
            }

            // Gán kết quả vào div#result
            document.getElementById('idgh').value = html3;
        }
    </script>
    <script>
        var idDDH = document.getElementById("selectMaDDH");
        var strDDH = idDDH.options[0].value;
        document.getElementById('idmaddh').value = strDDH;
        function validateSelectBoxMADDH1(obj) {
            // Lấy danh sách các options
            var options3 = obj.children;

            // Biến lưu trữ các chuyên mục đa chọn
            var html3 = '';

            // lặp qua từng option và kiểm tra thuộc tính selected
            for (var i = 0; i < options3.length; i++) {
                if (options3[i].selected) {
                    html3 += options3[i].value;
                }
            }

            // Gán kết quả vào div#result
            document.getElementById('idmaddh').value = html3;

        }
    </script>
    <script>
        document.getElementById('donhang').value = 0;
        document.getElementById('maxsoluong').value = 0;
        document.getElementById('maxsoluong').min = 0;
        var idMASP = document.getElementById("selectMaSP");
        var strMASP = idMASP.options[0].value;
        var strTENSP = idMASP.options[0].innerHTML;
        document.getElementById('idmasp').value = strMASP;
        document.getElementById('idtensp').value = strTENSP;
        var dongia;
        function validateSelectBoxMASP(obj) {
            // Lấy danh sách các options
            var options3 = obj.children;

            // Biến lưu trữ các chuyên mục đa chọn
            var html3 = '';
            var html4 = '';
            // lặp qua từng option và kiểm tra thuộc tính selected
            for (var i = 0; i < options3.length; i++) {
                if (options3[i].selected) {
                    html3 += options3[i].value;
                    html4 = i;
                }
            }
            const intnum = new Number(html4);
            var strMASP1 = idMASP.options[intnum].innerHTML;
            // Gán kết quả vào div#result
            document.getElementById('idmasp').value = html3;
            document.getElementById('idtensp').value = strMASP1;
            document.getElementById('maxsoluong').value = 0;
            ////document.getElementById('maxsoluong').setAttribute("max") =
            //var sanpham = (List<SANPHAM>)ViewBag.SANPHAM;


            var table = document.getElementById('tablePRODUCTshow');
            for (var i = 1; i < table.rows.length; i++) {
                if (html3 == table.rows[i].cells[0].innerHTML && strMASP1 == table.rows[i].cells[1].innerHTML) {

                    document.getElementById('maxsoluong').max = table.rows[i].cells[4].innerHTML;
                    //this.dongia = table.rows[i].cells[2].innerHTML;
                    changedonGia(table.rows[i].cells[2].innerHTML);
                    break;
                }
            }
            document.getElementById('donhang').value = 0;

        }
        function changedonGia(obj) {
            document.getElementById('donhang').value = obj.value * document.getElementById('maxsoluong').value;

        }

        //;
    </script>
    <script>
        var table = document.getElementById('tableDDH');
        for (var i = 1; i < table.rows.length; i++) {
            table.rows[i].onclick = function () {
                //rIndex = this.rowIndex;
                document.getElementById("MAHDD").value = this.cells[0].innerHTML;
                document.getElementById("NGAYDAT").value = this.cells[1].innerHTML;
                document.getElementById("TINHTRANGGIAOHANG11").value = this.cells[2].innerHTML;
                document.getElementById("NGAYGIAO").value = this.cells[3].innerHTML;
                document.getElementById("DATHANHTOAN11").value = this.cells[4].innerHTML;
                document.getElementById("MAKH11").value = this.cells[5].innerHTML;
                document.getElementById("UUDAI11").value = this.cells[6].innerHTML;
            };
        }
        function activeDeleteDDH() {
            if (confirm("Xóa mã hóa đơn này đồng nghĩa với tất cả Chi tiết hóa đơn và chi tiết hóa đơn có khách hàng này cũng bị xóa , bạn chắc chắn xóa chứ!!")) {
                window.location.href = "/DonDatHang/EditDonDatHang/" + document.getElementById("MAHDD").value;

                alert("Xóa Thành Công");
            }
            else
                alert("Xóa Thất Bại");
        }
                //function activeEditDDH() {
                //    window.location.href = "/DonDatHang/IndexDetailDDH/" + document.getElementById("MAHDD").value;

                //}
    </script>
</body>
</html>